services:
  db:
    image: postgres:16-alpine
    # ... o teu config atual

  frontend:
    build:
      context: ../frontend
    ports:
      - "5173:5173"
    depends_on:
      - db
    volumes:
      - ../frontend:/app
      - /app/node_modules
